@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
/* ===============================
   FOOTER COLOR FIX (THEME BASED)
   =============================== */

/* Light Theme */
.footer-text,
.footer-text a {
  color: #000000 !important;
}

/* Dark Theme */
.dark-footer .footer-text,
.dark-footer .footer-text a {
  color: #ffffff !important;
}